.typewriter {
  @apply text-primary;

  --caret: currentcolor;

  &::before {
    animation: typing 12s infinite;
    content: "";
  }

  &::after {
    animation: blink 1s linear infinite;
    border-right: 2px solid var(--caret);
    content: "";
    margin-left: 3px;
  }

  /* prettier-ignore */
  @keyframes typing {
    0% { content: ""; }
    0.98% { content: "S"; }
    1.96% { content: "So"; }
    2.94% { content: "Sof"; }
    3.92% { content: "Soft"; }
    4.9% { content: "Softw"; }
    5.88% { content: "Softwa"; }
    6.86% { content: "Softwar"; }
    7.84% { content: "Software"; }
    8.82% { content: "Software "; }
    9.8% { content: "Software E"; }
    10.78% { content: "Software En"; }
    11.76% { content: "Software Eng"; }
    12.74% { content: "Software Engi"; }
    13.72% { content: "Software Engin"; }
    14.7% { content: "Software Engine"; }
    15.68% { content: "Software Enginee"; }
    16.66%, 23.99% { content: "Software Engineer"; }
    24% { content: "Software Enginee"; }
    24.25% { content: "Software Engine"; }
    24.5% { content: "Software Engin"; }
    24.75% { content: "Software Engi"; }
    25% { content: "Software Eng"; }
    25.25% { content: "Software En"; }
    25.5% { content: "Software E"; }
    25.75% { content: "Software "; }
    26% { content: "Software"; }
    26.25% { content: "Softwar"; }
    26.5% { content: "Softwa"; }
    26.75% { content: "Softw"; }
    27% { content: "Soft"; }
    27.25% { content: "Sof"; }
    27.5% { content: "So"; }
    27.75% { content: "S"; }
    28% { content: ""; }
    33.33% { content: ""; }
    34.37% { content: "F"; }
    35.41% { content: "Fr"; }
    36.46% { content: "Fro"; }
    37.5% { content: "Fron"; }
    38.54% { content: "Front"; }
    39.58% { content: "Front-"; }
    40.62% { content: "Front-e"; }
    41.67% { content: "Front-en"; }
    42.71% { content: "Front-end"; }
    43.75% { content: "Front-end "; }
    44.79% { content: "Front-end L"; }
    45.83% { content: "Front-end Le"; }
    46.87% { content: "Front-end Lea"; }
    47.92% { content: "Front-end Lead"; }
    48.96% { content: "Front-end Leade"; }
    50%, 57.99% { content: "Front-end Leader"; }
    58% { content: "Front-end Leade"; }
    58.27% { content: "Front-end Lead"; }
    58.53% { content: "Front-end Lea"; }
    58.8% { content: "Front-end Le"; }
    59.07% { content: "Front-end L"; }
    59.33% { content: "Front-end "; }
    59.6% { content: "Front-end"; }
    59.87% { content: "Front-en"; }
    60.13% { content: "Front-e"; }
    60.4% { content: "Front-"; }
    60.67% { content: "Front"; }
    60.93% { content: "Fron"; }
    61.2% { content: "Fro"; }
    61.47% { content: "Fr"; }
    61.73% { content: "F"; }
    62% { content: ""; }
    66.66% { content: ""; }
    67.85% { content: "V"; }
    69.04% { content: "Vi"; }
    70.23% { content: "Vim"; }
    71.42% { content: "Vim "; }
    72.61% { content: "Vim E"; }
    73.8% { content: "Vim En"; }
    74.99% { content: "Vim Ent"; }
    76.18% { content: "Vim Enth"; }
    77.37% { content: "Vim Enthu"; }
    78.56% { content: "Vim Enthus"; }
    79.75% { content: "Vim Enthusi"; }
    80.94% { content: "Vim Enthusia"; }
    82.13% { content: "Vim Enthusias"; }
    83.32%, 90.99% { content: "Vim Enthusiast"; }
    91% { content: "Vim Enthusias"; }
    91.35% { content: "Vim Enthusia"; }
    91.69% { content: "Vim Enthusi"; }
    92.04% { content: "Vim Enthus"; }
    92.38% { content: "Vim Enthu"; }
    92.73% { content: "Vim Enth"; }
    93.08% { content: "Vim Ent"; }
    93.42% { content: "Vim En"; }
    93.77% { content: "Vim E"; }
    94.12% { content: "Vim "; }
    94.46% { content: "Vim"; }
    94.81% { content: "Vi"; }
    95.15% { content: "V"; }
    95.5% { content: ""; }
    100% { content: ""; }
  }

  /* prettier-ignore-end */

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  @media (prefers-reduced-motion) {
    @keyframes sequence-popup {
      0%,
      100% {
        content: "Software Engineer";
      }

      33.33% {
        content: "Front-end Leader";
      }

      66.66% {
        content: "Vim Enthusiast";
      }
    }

    &::before {
      animation: sequence-popup 12s linear infinite;
      content: "Software Engineer";
    }

    &::after {
      animation: none;
    }
  }
}
