---

---

<header>
  <div class="container flex h-15 items-center justify-between">
    <a href="/" class="logo text-lg font-bold">
      🚀 <span class="bg-primary-gradient bg-clip-text text-transparent">ryenguyen7411</span>
    </a>

    <nav>
      <ul class="flex items-center gap-3">
        {/* TODO: handle active link */}
        <li><a class="px-2 py-1 text-gray-700 hover:text-gray-500" href="/">Home</a></li>
        <li><a class="px-2 py-1 text-gray-700 hover:text-gray-500" href="/about">About</a></li>
        <li><a class="px-2 py-1 text-gray-700 hover:text-gray-500" href="/blog">Blog</a></li>
        <li><a class="px-2 py-1 text-gray-700 hover:text-gray-500" href="/contact">Contact</a></li>
      </ul>

      {/* TODO: show CTA button */}
    </nav>
  </div>
</header>
