---
import Icon from "@/components/core/icon/index.astro";
---

<div class="container drawer -sm:p-0">
  <input id="sidebar-nav" type="checkbox" class="drawer-toggle" />
  <!-- Navbar -->
  <div class="drawer-content">
    <div class="navbar sm:justify-between">
      <div class="flex-none sm:hidden">
        <label for="sidebar-nav" aria-label="open sidebar" class="btn btn-square btn-ghost">
          <Icon name="head-menu" />
        </label>
      </div>

      <a href="/" class="logo text-lg font-semibold">
        🚀&nbsp;<span class="bg-primary-gradient bg-clip-text text-transparent">ryenguyen7411</span>
      </a>
      <nav class="hidden flex-none sm:block">
        <ul class="flex items-center gap-4">
          {/* TODO: handle active link */}
          <li><a class="px-2 py-1 text-gray-700 hover:text-gray-500" href="/">Home</a></li>
          <li><a class="px-2 py-1 text-gray-700 hover:text-gray-500" href="/about">About</a></li>
          <li><a class="px-2 py-1 text-gray-700 hover:text-gray-500" href="/blog">Blog</a></li>
          <li>
            <a class="px-2 py-1 text-gray-700 hover:text-gray-500" href="/contact">Contact</a>
          </li>
          {/* TODO: show CTA button */}
        </ul>
      </nav>
    </div>
  </div>
  <!-- Drawer -->
  <div class="drawer-side">
    <label for="sidebar-nav" aria-label="close sidebar" class="drawer-overlay"></label>
    <nav class="min-h-screen bg-indigo-300">
      <ul class="menu grid w-60 gap-4">
        <li>
          <a href="/" class="logo text-lg font-semibold">
            🚀&nbsp;<span class="bg-primary-gradient bg-clip-text text-transparent"
              >ryenguyen7411</span
            >
          </a>
        </li>
        {/* TODO: handle active link */}
        <li><a class="px-2 py-1 text-gray-700 hover:text-gray-500" href="/">Home</a></li>
        <li><a class="px-2 py-1 text-gray-700 hover:text-gray-500" href="/about">About</a></li>
        <li><a class="px-2 py-1 text-gray-700 hover:text-gray-500" href="/blog">Blog</a></li>
        <li>
          <a class="px-2 py-1 text-gray-700 hover:text-gray-500" href="/contact">Contact</a>
        </li>
        {/* TODO: show CTA button */}
      </ul>
    </nav>
  </div>
</div>
